<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.delivery.data.ServiceCallLogMapper">
  <resultMap id="BaseResultMap" type="com.vip.delivery.bean.ServiceCallLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="interface_name" jdbcType="VARCHAR" property="interfaceName" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="call_time" jdbcType="TIMESTAMP" property="callTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, interface_name, params, call_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_call_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from service_call_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vip.delivery.bean.ServiceCallLog">
    insert into service_call_log (id, username, interface_name, 
      params, call_time)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{interfaceName,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{callTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vip.delivery.bean.ServiceCallLog">
    insert into service_call_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="interfaceName != null">
        interface_name,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="callTime != null">
        call_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null">
        #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        #{callTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vip.delivery.bean.ServiceCallLog">
    update service_call_log
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null">
        interface_name = #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        call_time = #{callTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vip.delivery.bean.ServiceCallLog">
    update service_call_log
    set username = #{username,jdbcType=VARCHAR},
      interface_name = #{interfaceName,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      call_time = #{callTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.vip.delivery.bean.ServiceCallLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="interface_name" jdbcType="VARCHAR" property="interfaceName" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="call_time" jdbcType="TIMESTAMP" property="callTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, interface_name, params, call_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_call_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from service_call_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vip.delivery.bean.ServiceCallLog">
    insert into service_call_log (id, username, interface_name, 
      params, call_time)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{interfaceName,jdbcType=VARCHAR}, 
      #{params,jdbcType=VARCHAR}, #{callTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vip.delivery.bean.ServiceCallLog">
    insert into service_call_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="interfaceName != null">
        interface_name,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="callTime != null">
        call_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null">
        #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        #{callTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vip.delivery.bean.ServiceCallLog">
    update service_call_log
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="interfaceName != null">
        interface_name = #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        call_time = #{callTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vip.delivery.bean.ServiceCallLog">
    update service_call_log
    set username = #{username,jdbcType=VARCHAR},
      interface_name = #{interfaceName,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      call_time = #{callTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>