	body {
	  margin: 0;
	  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	  font-size: 13px;
	  line-height: 18px;
	  color: #555555;
	  background-color: #D9F5C5;
	  text-shadow:0 -1px 1px rgba(0, 0, 0, 0.2);
	  padding-bottom: 40px;
	}
	.login-header {height:120px;padding-top:30px;}
	div.center {
		text-align:center;
		margin-right:auto!important;
		margin-left:auto!important;
		float:none;
	}
	h2 {
	  margin: 0;
	  font-family: 'Karla', sans-serif;
	  font-weight: bold;
	  color: #317eac;
	  font-size: 24px;
	  line-height: 36px;
	  text-rendering: optimizelegibility;
	}
	.well {
	  width:38%;
	  min-height: 20px;
	  padding: 19px;
	  margin-bottom: 20px;
	  background-color: #f5f5f5;
	  border: 1px solid #eee;
	  border: 1px solid rgba(0, 0, 0, 0.05);
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	.alert {
	  padding: 8px 35px 8px 14px;
	  margin-bottom: 18px;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  background-color: #8bc5e8;
	  border: 1px solid #7ed0e5;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  color: #1c628b;
	}
	.alert-info {
	  background-color: #edebe1;
	  border-color: #e0d9cb;
	  color: #817b58;
	}
	.input-prepend{
	  display:inline;
	  margin-bottom:10px;
	}
	.clearfix {
	  height:18px;
	}

	.input-prepend .add-on,
	.input-append .add-on {
	  display: inline-block;
	  width: auto;
	  height: 18px;
	  min-width: 16px;
	  padding: 4px 5px;
	  font-weight: normal;
	  line-height: 18px;
	  text-align: center;
	  text-shadow: 0 1px 0 #ffffff;
	  vertical-align: middle;
	  background-color: #f5f5f5;
	  border: 1px solid #ccc;
	}
	fieldset {
	  padding: 0;
	  margin: 0;
	  border: 0;
	}
	.input-prepend .add-on,
	.input-append .add-on,
	.input-prepend .btn,
	.input-append .btn {
	  margin-left: -1px;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0;
	}
	[class^="icon-"],
	[class*=" icon-"] {
	  display: inline-block;
	  width: 14px;
	  height: 14px;
	  margin-right: .3em;
	  line-height: 14px;
	  vertical-align: text-top;
	  background-image: url("../img/glyphicons-halflings.png");
	  background-position: 14px 14px;
	  background-repeat: no-repeat;
	}
	[class^="icon-"]:last-child,
	[class*=" icon-"]:last-child {
	  *margin-left: 0;
	}
	.icon-user {
	  background-position: -168px 0;
	}
	.icon-lock {
	  background-position: -287px -24px;
	}
	.input-large {
	  width: 210px;
	  height: 18px;
	  box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	  background-color:rgb(255, 255, 153);
	  margin-bottom:0px;
	  position:relative;
	  border-top-left-radius:0px;
	  border-top-right-radius:3px;
	  border-bottom-right-radius:3px;
	  border-bottom-left-radius:0px;
	  display:inline-block;
	  vertical-align:center;
	}
	.btn{
		background-color: #43A1DA;
		background-image: -moz-linear-gradient(center top , #4BA6DB, #369BD7);
		background-repeat: repeat-x;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		 color: #FFFFFF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		 border-radius: 4px 4px 4px 4px;
		border-style: solid;
		border-width: 1px;
		height:30px;
		width:180px;
	}